nav {
    background-color: white !important;
    padding: 8px 0px;
}

nav .input-field {
    color: black;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 10px 0px !important;
    padding: 3px !important;
}

nav .input-field input {
    font-size: 11px;
    margin: 0px !important;
}

nav .input-field label { 
    left: 0px;
    margin: 0px !important;
}

nav .input-field label i { 
    color: gray !important;
}

nav .input-field i { 
    line-height: normal !important;
    top: -2px !important;
    right: 0px !important;
    margin: 0px !important;
}