.post {
    &-title {
      margin-bottom: -3px !important;
      border-radius: 4px !important;
      margin-top: 30px !important;
      .collection-item {
        min-height: 60px !important;
      }
    }
    &-content {
      position: relative;
      .back {
        position: absolute;
        top: calc(50% - 20px);
        left: 0;
      }
      .next {
        position: absolute;
        top: calc(50% - 20px);
        right: 0;
      }
    }
    &-bottom {
      padding: 15px;
      span {
        cursor: pointer;
      }
    }
  
  }