.story-container {
    background-color: rgb(26, 26, 26);
    height: 100vh;
    width: 100vw;
    position: relative;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-body {
    background-color: orange;
    width: 550px;
    height: calc(100vh - 50px);
    padding: 25px;
    border-radius: 15px;
}

.insta-logo {
    position: absolute;
    left: 15px;
    top: 15px;
}

.close-logo {
    position: absolute;
    right: 15px;
    top: 15px;
}

.font-bold {
    font-weight: bold;
}

.opacity {
    opacity: 0.6;
}

.margin-left {
    margin-left: 10px;
}

.collection {
    border: none;

    .collection-item {
        min-height: 44px !important;
        padding-left: 40px !important;
        background-color: transparent;

        .title {
            font-size: 14px !important;
        }

        img {
            height: 32px !important;
            width: 32px !important;
            left: 0 !important;
        }

        .secondary-content { 
            top: 10px !important;

            .material-icons {
                color: white
            }
        }
    }
}

.progress-container {
    display: flex;
    flex-direction: row;
}

.progress {
    height: 3px;
    border-radius: 1px;
    background-color: gray;
    opacity: 0.4;
    margin: 2px;
}

.progress-bar {
    background-color: red;
    height: 3px;
    border-radius: 1px;
}