
.story-avatar {
	width: 80px;
	height: 100px;
	margin-left: 6px;
	margin-right: 6px;
}
.story-avatar-border {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-image: linear-gradient(
		45deg,
		#ffa95f 5%,
		#f99c4a 15%,
		#f47838 30%,
		#e75157 45%,
		#d92d7a 70%,
		#cc2a92 80%,
		#c32e92 95%
	);

	img {
		width: 56px;
		height: 56px;
		border-radius: 50%;
		background-color: white;
		padding: 2px;
	}
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-col {
	flex-direction: column;
}