.story-list-container {
    position: relative;
}

.story-list {
    margin-top: 24px;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    overflow: overlay;
}

*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

.back {
  position: absolute;
  top: calc(50% - 20px);
  left: 10px;
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back img {
  height: 30px;
}

.next {
  position: absolute;
  top: calc(50% - 20px);
  right: 10px;
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}